        body {
            font-family: 'Arial', sans-serif;

            text-align: center;

            background-color: lavender;
            margin: 0;
            padding: 20px;
        }
     

        h1 {
            margin-top: 20px;
            color: #333;
        }

        .gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;
        }

        .gallery img {
            width: 300px;
            height: auto;
            margin: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            animation: float 6s ease-in-out infinite;
        }

        .gallery img:hover {
            transform: scale(1.05);
        }
        